<h1>Places</h1>

<% if @current_user %>
<p>
  <a href="/places/new">New place</a>
</p>
<% end %>

<div class="row">
  <% for place in @places %>
    <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
  <% end %>
</div>
