<h1>Places</h1>

<% if @current_user %>
  <a href="/places/new" class="btn btn-primary" role="button">New Place</a>
<% end %>

<div class="row">
  <% for place in @places %>
    <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
  <% end %>
</div>
